logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.tsbuildinfo

.env
.env*.local
*.local

/test-results/
supabase/.temp
.vercel

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?