@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--color-default-background);
    color: var(--color-default-font);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-size: var(--text-heading-1);
    font-weight: var(--text-heading-1--font-weight);
  }
}
