name: CI Pipeline
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
workflow_call:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Format and Lint
        run: npx @biomejs/biome check --ci 

      - name: Type Check
        run: npx tsc --noEmit

      - name: Test
        run: npm test